    {% if site.footer_fixed %}
    <footer class="fixed-bottom">
      <div class="container mt-0">
        &copy; {{ site.time | date: '%Y' }} Alexander Gurung{% if site.footer_text %} &middot; {{ site.footer_text }}{% endif %}
        {%- if site.impressum_path %} &middot; <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>{% endif %}
        {%- if site.last_updated %} &middot; Updated {{ site.time | date: '%B %Y' }}{% endif %}
      </div>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom mt-5">
      <div class="container">
        &copy; {{ site.time | date: '%Y' }} Alexander Gurung{% if site.footer_text %} &middot; {{ site.footer_text }}{% endif %}
        {%- if site.impressum_path %} &middot; <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>{% endif %}
        {%- if site.last_updated %} &middot; Updated {{ site.time | date: '%B %Y' }}{% endif %}
      </div>
    </footer>
    {%- endif %}
